{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ participant.nom}}!
{% endblock %}

{% block body %}

	<h2 class="my-5 text-uppercase text-center">Profil de
		{{participant.nom}}
		{{participant.prenom}}</h2>
	<div class="row container mx-auto">
		<div class="col-lg-5">
			<img class="rounded-3" src="{{ ((participant.imageName == NULL) ? asset('images/avatar.jpg')|imagine_filter('squared_thumbnail_medium') : vich_uploader_asset(participant) )| imagine_filter('squared_thumbnail_medium') }}" alt="photo utilisateur {{participant.nom}} ">
		</div>

		<div class="col-lg-7">
			<p>
				<strong>Prénom
				</strong>
				:
				{{participant.prenom}}</p>
			<p>
				<strong>Nom
				</strong>
				:
				{{participant.nom}}</p>

			{% if (participant.id == app.user.id) or is_granted("ROLE_ADMIN") %}
				<p>
					<strong>Téléphone
					</strong>
					:{{participant.telephone}}
				</p>
				<p>
					<strong>Email</strong>
					:{{participant.email}}
				</p>

			{% else %}
				<p>
					<strong>Téléphone
					</strong>
					:#############
				</p>
				<p>
					<strong>Email</strong>
					:#############
				</p>
			{% endif %}

			<p>
				<strong>Ville de rattachement
				</strong>
				:{{participant.sites.Nomsite}}
			</p>
			
			<p>
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" role="switch" id="switchEtat" {% if (app.request.cookies.get('dark_theme') == "on") %}{{"checked"}}{% endif %} onchange="switchTheme()">
					<label class="form-check-label" for="flexSwitchCheckDefault">Thème sombre</label>
				</div>
			</p>

			<script type="text/javascript">
				function switchTheme() {
					let etat = getCookie("dark_theme");

					let head  = document.getElementsByTagName('head')[0];
					let link  = document.createElement('link');
					link.rel  = 'stylesheet';
					link.type = 'text/css';

					if (etat != "") {
						if (etat == "on") {
							setCookie("dark_theme","off",365);
							link.href = 'http://localhost/Projet-symfony/public/css/app.css';
							window.location.reload()
						} else {
							setCookie("dark_theme","on",365);
							link.href = 'http://localhost/Projet-symfony/public/css/dark.css';
							window.location.reload()
						}
					} else {
						setCookie("dark_theme","on",365);
						link.href = 'http://localhost/Projet-symfony/public/css/dark.css';
						window.location.reload()
					}

					link.media = 'all';
					head.appendChild(link);
				}

				//récupérer un cookie
				function getCookie(name) {
					let cookieArr = document.cookie.split(";");
					
					for(let i = 0; i < cookieArr.length; i++) {
						let cookiePair = cookieArr[i].split("=");
						if (name == cookiePair[0].trim()) return decodeURIComponent(cookiePair[1]);
					}
					
					return null;
				}

				//modifier un cookie
				function setCookie(name, value, daysToLive) {
					let cookie = name + "=" + encodeURIComponent(value);
					
					if(typeof daysToLive === "number") {
						cookie += "; max-age=" + (daysToLive*24*60*60) + ";path=/";
						document.cookie = cookie;
					}
				}
			</script>

		</div>
		<div class="my-5 d-grid gap-2 col-3 mx-auto">
			<a href="{{ path('home') }}" class="py-3 btn btn-danger fw-bold">Retour</a>
		</div>

		{% if app.user.id == participant.id  or is_granted("ROLE_ADMIN") %}
			<div class="my-5 d-grid gap-2 col-3 mx-auto">
				<a href="{{ path('app_profile_eddit',{id:app.user.id}) }}" class="py-3 btn btn-primary fw-bold">Modification</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
