{% extends 'base.html.twig' %}

{% block title %}Profil de {{ participant.nom}}!{% endblock %}

{% block body %}

<h1>Profil de {{participant.nom}} {{participant.prenom}}</h1>
<div class="row">
    <div class="col-lg-6">
        <img src="" alt="" >
    </div>

    <div class="col-lg-6">
       <p><strong>Prénom </strong> : {{participant.prenom}}</p>
       <p><strong>Nom </strong> : {{participant.nom}}</p>
       <p><strong>Téléphone </strong> :{{participant.telephone}} </p>
       <p><strong>Email</strong> :{{participant.email}} </p>
       <p><strong>Ville de rattachement </strong> : </p>
    </div>
    <div>
     <a class="btn btn-primary" href="{{ path('app_profile') }}">Retour</a>
    </div>
</div>


{% endblock %}
