{% extends "base.html.twig" %}

{% block body %}
	<div class="h1">
		Créer une sortie
	</div>
	<hr>
	{{form_start(formSortie)}}
	<div style="display:inline-block">
		<table>
			<tbody>
				<tr>
					<td>Nom de la sortie :
					</td>
					<td><input type="text" id="nom" name="nom" style="width:100%" required></td>
				</tr>
				<tr>
					<td>Date et heure de la sortie :
					</td>
					<td><input type="datetime-local" id="date_debut" name="date_debut" required></td>
				</tr>
				<tr>
					<td>Date limite d'inscription :
					</td>
					<td><input type="datetime-local" id="date_cloture" name="date_cloture" required></td>
				</tr>
				<tr>
					<td>Nombre de places :
					</td>
					<td><input type="number" min="0" id="nbInscriptionsMax" name="nbInscriptionsMax" style="width:30%" required></td>
				</tr>
				<tr>
					<td>Durée :
					</td>
					<td><input type="number" min="0" id="duree" name="duree" style="width:30%">&nbsp;minutes</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="display:inline-block">
		<table>
			<tbody>
				<tr>
					<td>Ville organisatrice :
					</td>
					<td>{{app.user.sites}}</td>
				</tr>
				<tr>
					<td>Ville :
					</td>
					<td>
						<select name="ville" id="ville" style="width:60%" required>
							{% for ville in villes %}
								<option value="{{ville.getId()}}" onChange="switchLieu({{ville.getId()}})">{{ville.getNomVille()}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>

                <script type="text/javascript">
                    function switchLieu(id) {
                        console.log("aaaa");
                    }
                </script>

				<tr>
					<td>Lieu :
					</td>
					<td>
						<select name="lieu" id="lieu" style="width:60%" required>
							{% for lieu in lieux %}
								<option value="{{lieu.getId()}}">{{lieu.getNomLieu()}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Rue :
					</td>
					<td></td>
				</tr>
				<tr>
					<td>Code postal :
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<table>
			<tbody>
				<tr>
					<td>Description et infos :
					</td>
					<td>
						<textarea name="description" id="description" cols="36" rows="3"></textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<button type="submit" name="etat" value="enregistrer" class="btn btn-dark">Enregistrer</button>
		<button type="submit" name="etat" value="publier" class="btn btn-dark">Publier</button>
	</div>
	{{form_end(formSortie)}}

    <hr>
	<!-- bouton modal -->
	<div>
		<button type="button" class="btn btn-dark btn-group btn-group-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
			<i class="fas fa-plus">&nbsp;Ajouter un lieu</i>
		</button>
	</div>
	<!-- modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Ajouter un lieu</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form action="{{path('quickAddLieu')}}" method="post">
					<div class="modal-body">
						<table>
							<tbody>
								<tr>
									<td>Site organisateur :&nbsp;</td>
									<td>
										<select name="ville" id="ville" style="width:60%">
											<option selected></option>
											{% for ville in villes %}
												<option value="{{ville.getId()}}">{{ville.getNomVille()}}</option>
											{% endfor %}
										</select>
									</td>
								</tr>
								<tr>
									<td>Nom :&nbsp;</td>
									<td><input type="text" name="nom_lieu" id="nom_lieu" required></td>
								</tr>
								<tr>
									<td>Rue :&nbsp;</td>
									<td><input type="text" name="rue" id="rue" required></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
						<input type="submit" class="btn btn-dark" value="Enregistrer">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
