{% extends 'base.html.twig' %}

{% block body %}
	<div class="h" id="gestion-sites">
		<h1 class="title-page">Sorties archivées</h1>
        <table class="table">
            <thead class="sticky-top">
                <tr>
                    <th>Organisateur</th>
                    <th>Email</th>
                    <th>Lieu</th>
                    <th>Etat</th>
                    <th>Site</th>
                    <th>Date clôture</th>
                    <th>Inscriptions max</th>
                    <th>Date début</th>
                    <th>Durée</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for archive in archives %}
                    <tr>
                        <td>{{archive.nom_organisateur}}</td>
                        <td>{{archive.email_organisateur}}</td>
                        <td>{{archive.nom_lieu}}</td>
                        <td>{{archive.etat_sortie}}</td>
                        <td>{{archive.nom_site}}</td>
                        <td>{{archive.date_cloture_inscription}}</td>
                        <td>{{archive.nnInscriptionMaxSortie}}</td>
                        <td>{{archive.date_debut_sortie}}</td>
                        <td>{{archive.duree_sortie}}</td>
                        <td>{{archive.description_sortie}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
	</div>
{% endblock %}
